### IDE & Editor ###
.idea/
# OS garbage
.DS_Store
.svn
nbproject/
.nbproject/
*.sublime-project

### Composer ###
composer.phar
vendor/

.env
Homestead.yaml
Homestead.json
public/assets/
public/uploads/

### Node ###
node_modules/


### Vagrant ###
vagrant/puphpet/config.yaml
vagrant/puphpet/config-custom.yaml
vagrant/.vagrant/